params {
    withName: ".*:VCF_PCA_PLINK:BCFTOOLS_NORM_VCF" {
        ext.args = '-m-any --check-ref w'
    }

    withName: ".*:VCF_PCA_PLINK:BCFTOOLS_ANNOTATE" {
        ext.args = "-x ID -I +'%CHROM:%POS:%REF:%ALT'"
    }

    withName: ".*:VCF_PCA_PLINK:BCFTOOLS_NORM_BCF" {
        ext.args = '-Ob --rm-dup both'
    }
}
